
@import '../../../styles/common/mixins';

.repository-selector {
    @extend %card;
    perspective: 1000px;

    &.flipped {
        > .flip {
            transform: rotateY(180deg);
        }
    }
}

.repository-selector,
.repository-more,
.repository-list {
    width: 100%;
    height: 260px;
}

.flip {
    position: relative;
    transition: transform ease .6s;
    transform-style: preserve-3d;
}

.repository-more,
.repository-list {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

.repository-more {
    z-index: 2;
    cursor: pointer;
    transition: color ease .3s;
    color: #9e9e9e;
    text-align: center;

    &:hover {
        color: #000;
    }

    .add-more {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        transform: translateY(-50%);

        > span {
            display: block;
            font-size: 18px;
        }

        > em {
            display: block;
            margin-top: 10px;
            font-size: 26px;
        }
    }
}

.repository-list {
    transform: rotateY(180deg);

    &.loading {
        position: relative;

        &:before {
            @extend %loader;
        }
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        padding: 7px;
        transition: color ease .3s;
        color: #9e9e9e;
        font-size: 16px;

        &:hover {
            color: #fff;
        }
    }

    .list {
        overflow: auto;
        height: inherit;
        box-sizing: border-box;
    }
}
