@font-face {
    font-family: 'icomoon';
    src:  url('./fonts/icomoon.eot?u2fknn');
    src:  url('./fonts/icomoon.eot?u2fknn#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?u2fknn') format('truetype'),
    url('./fonts/icomoon.woff?u2fknn') format('woff'),
    url('./fonts/icomoon.svg?u2fknn#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:global {
    .icon-reload:before {
        content: "\e907";
    }

    .icon-branch:before {
        content: "\e902";
    }

    .icon-chevron-down:before {
        content: "\e903";
    }

    .icon-close:before {
        content: "\e905";
    }

    .icon-lock:before {
        content: "\e901";
    }

    .icon-logout:before {
        content: "\e900";
    }

    .icon-plus:before {
        content: "\e904";
    }
}
